/* 20408031 Naheen Habib Tuesday 12pm  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    background-color: #ffff;
}

/*  HOME PAGE*/
nav {
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    text-align: center;
    margin-top: 15%;
}

h1 {
    font-size: 100px;
}

p {
    font-size: 50px;
}

.orange {
    color: #ff8c00;
}

.button {
    border: none;
    margin-top: 8px;
    padding: 8px 24px 8px 24px;
    background-color: #ff8c00;
    border-radius: 4px;
}

.orange__link {
    background-color: #ff8c00;
    color: white;
}

/*PROPERTIES PAGE*/

/*LOGIN PAGE*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

label {
    display: block;
    font-weight: bold;
}


input {
    margin-bottom: 16px;
}



@media screen and (min-width: 768px) {
    /* .green-magic {
    background-color:#00cc00;
    } */
}