/* 20408031 Naheen Habib Tuesday 12pm  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    background-color: #ffff;
}

/*  HOME PAGE*/
nav {
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    text-align: center;
    margin-top: 15%;
}

h1 {
    font-size: 72px;
    margin-bottom: 8px;
}

p {
    font-size: 50px;
}

.orange {
    color: #ff8c00;
}

.button {
    border: none;
    margin-top: 8px;
    padding: 8px 24px 8px 24px;
    background-color: #ff8c00;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
}

.orange__link {
    background-color: #ff8c00;
    color: white;
}

/*PROPERTIES PAGE*/

/*LOGIN PAGE*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #ff8c00;
    border: 1px #ff8c00 solid ;
    padding: 50px;
    margin: 200px; */

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 28px;
}


input {
    margin-bottom: 16px;
    text-align: center;
    color: white;
    border: 1px #5f6368 solid;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
}

/*REGISTER PAGE*/

.registration{
display: flex;
flex-direction: column;
justify-content: space-around;
}



@media screen and (min-width: 768px) {
    /* .green-magic {
    background-color:#00cc00;
    } */
}